

body.body1 {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/public/assests/loginRecords.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; 
    margin: 0;
    padding: 0;
}


.loginPage {
  
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border-radius: 30px;
    background-color: transparent;
}

.loginContainer {
    max-width: 400px;
    padding: 20px;
    background-color: #090707;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
  
}


  .registerBtn a {
    color: #7D2A9D;
    text-decoration: underline;
    cursor: pointer;
}

.registerBtn a:hover {
    color: rgb(188, 188, 206);
}

input::placeholder {
    text-align: center;
    font-weight: bold;
    color: #000000; 
    font-style: italic;
}

input:focus::placeholder {
    color: #030101; 
}

@media (max-width: 768px) {
    .loginPage {
        min-height: 70vh;
        padding: 10px;
    }

    .loginContainer {
        max-width: 90%;
        padding: 15px;
    }

    .registerBtn a {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .loginContainer {
        min-height: 80vh;
        max-width: 95%;
        padding: 10px;
    }

    .registerBtn a {
        font-size: 12px;
    }
}