.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/public/assests/channel2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .loginPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 60%; 
    max-width: 90%;
    padding: 20px 70px;
    border-radius: 30px;
    background-color: #090707;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    /* margin-left: 100px; */
  }
  
  
  
  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center; 
  }
  
  .loginForm input {
    width: 110%; 
    max-width: 300px; 
    padding: 12px;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
  }
  

  .logintitle{
color: white;
font-size: 14px;
margin-top: 10px;
  }

  .loginForm img {
    height: 120px;
    width: 80%; 
    max-width: 200px;
    margin-bottom: 50px;
    margin-left: 20px;
  }

  .loginForm button {
    background-color: #7d2a9d;
    color: #fff;
    padding: 8px;
    width: 40%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    border-radius: 20px;
  }
  
  .loginForm button:hover {
    background-color: #541f91;
    
  }
  
  .loginBtn {
    color: #7d2a9d;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  
  }
  
  .loginBtn a {
    color: #7d2a9d;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .loginBtn a:hover {
    color: rgb(188, 188, 206);
  }
  
  .loginForm input::placeholder {
    text-align: start;
    font-weight: bold;
    color: #000000;
    font-style: italic;
  }
  
  .loginForm input:focus::placeholder {
    color: #030101;
  }
  
  .loginForm input:focus {
    outline: 2px solid #7d2a9d; 
  }
  