.body1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("/public/assests/channel2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
  .registerPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 80%; 
    width: 22%;
    max-width: 90%;
    padding: 20px 70px;
    border-radius: 30px;
    margin-top: 80px;
    background-color: #090707;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
  
  
  
  .registerForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    max-width: 400px; 
    margin: 0 auto; 
  }
  
  .registerForm img {
    height: 150px;
    width: 80%;
    max-width: 200px;
    margin-bottom: 30px;
    margin-left: 20px;
  }
  
  .registerForm input,
  .registerForm select {
    width: 100%;
    max-width: 300px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px; 
  }
  
  .registerForm select {
    background-color: #fff; 
    appearance: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
  }
  
  .registerForm select:focus {
    outline: none;
    border-color: #7d2a9d;
  }
  
  .registerForm button {
    background-color: #7d2a9d;
    color: #fff;
    padding: 12px 20px; 
    width: 50%; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;

  }
  
  .registerForm button:hover {
    background-color: #541f91;
  }
  
  .registerForm button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(125, 42, 157, 0.8); 
  }
  
  .registerBtn {
    color: #ffffff;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .registerBtn a {
    color: #7d2a9d;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .registerBtn a:hover {
    color: rgb(188, 188, 206);
  }
  
  .registerForm input::placeholder {
    text-align: start;
    font-weight: bold;
    color: #000000;
    font-style: italic;
  }
  
  .registerForm input:focus::placeholder {
    color: #030101;
  }
  
  .registerForm input:focus {
    outline: 2px solid #7d2a9d;
  }
  