.body2 {
    position: relative;
    overflow: visible;
    display: block;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.671)
      ),
      url("/public/assests/lyricPageBack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: auto;
    margin: 0;
    padding: 20px;
  }
  
  .imageGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90%;
    max-width: 1200px;
    position: relative; 
    margin-left: 200px;
  }
  
  .image {
    position: relative;
    width: 300px;
    height: auto;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
    box-shadow: 0 0 20px rgba(128, 0, 128, 0.219);
    overflow: hidden;
    /* object-fit: cover; */
  }
  
  .image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4); /* Dark overlay */
    z-index: 1;
  }
  
  .imageText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
    font-weight: bold;
    z-index: 2; /* Ensure text is above the overlay */
    opacity: 1; /* Ensure the text is visible by default */
    transition: opacity 0.3s ease; /* Add smooth transition for opacity */
  }

  .Title1 {
    font-size: 40px;
    height: auto;
    width: auto;
    margin-top: 80px; /* Add space to push the title down */
    padding: 10px 0;  /* Optional: Add some padding for better spacing */
    color: #fff;  /* Ensure text is visible on dark background */
  }
  

