
.hero {
    position: relative;
    background-image: url("../../../public/assests/herologo.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin-top: 40px;
    
    
  }
  
  .container {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: calc(var(--mantine-spacing-xl) * 6);
    z-index: 1;
    position: relative;
    
  
   
  }
  
  .title {
    color: var(--mantine-color-white);
    font-size: 60px;
    font-weight: 900;
    line-height: 1.1;
    
   
  
  }
  
  .description {
    color: var(--mantine-color-white);
    max-width: 600px;
    
  }
  
  .control {
    margin-top: calc(var(--mantine-spacing-xl) * 1);
    background-color: var(--mantine-color-blue-1);
    

   
  }


  .highlightLyrics {
    color: #7D2A9D; 
    
  }

  .subtitle{
    display: block;
    text-align: left;
    margin-left: 8px;
    
    
  }
  
  .highlightYou {
    color: #7D2A9D;
    
  }

  .highlightMagic{
    color: #7D2A9D;
    
  }

  .intro1{
    margin: 0;
    color: white;
    
  }

  .heroWrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
    margin-left: 10px;
  }
