

.hero {
  position: relative;
  background: url("/assests/herologo.jpg") center / cover no-repeat;
  height: 100vh;
  margin-top: 60px;
  padding: 20px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.65) 40%);
  z-index: 0;
}

.content {
  position: absolute; 
  top: 35%;
  left: 10%;
  transform: translateY(-50%); 
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
  z-index: 1;
  color: var(--mantine-color-white);
}

.title {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.1;
}


.control:hover{
  background-color: #2e0b3b; 
  transform: scale(1.05); 
}

.highlightLyrics,
.highlightGenre {
  color: #7D2A9D;
}


.intro1{
  margin: 0;
  color: white;
  margin-top: 20px;
}

.heroWrap {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  align-items: center;
}

.highlightYou {                    
  color: #7D2A9D;
  
}  

.highlightMagic{
  color: #7D2A9D;
  
}  


.featuresContainer {
  background-color: #0f0f0f;
color: white; 
padding: 4rem 12rem;

}


@media screen and (max-width: 1200px) {
  .featuresContainer {
    padding: 4rem 8rem;
  }
}

@media screen and (max-width: 992px) {
  .featuresContainer {
    padding: 4rem 4rem;
  }
}


.fadeInSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}


.fadeInSection2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 100vh;
  opacity: 0; 
  transform: translateY(50px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}




.fadeInText {
  max-width: 400px;
  font-size: 1.2rem;
  color: #f5f5f5;
}

.highlightGenre {

  margin-left: 100px;
}



.fadeInText h2 {
  font-size: 1.5rem;
}



.featuresTitle {
  text-align: center;
  font-size: 3.5rem;
  color: rgb(247, 242, 242);
  margin-top: 1.3rem;
  opacity: 0; 
  transform: translateY(-50px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}



.fadeInImage {
  width: 45%;
  height: auto;
  border-radius: 20px;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(128, 0, 128, 0.219);
  margin-left: 100px;
  
}

.fadeInImage:hover {
  transform: scale(1.1);
  opacity: 0.8;
}

.imageWrapper{
  position: relative;
  display: inline-block;
}

.imageWrapper:hover .fadeInImage {
  transform: scale(1.1); 
  opacity: 0.8; 
}


.fadeInText {
  max-width: 70%;
  font-size: 1.2rem;
}

.fadeInText h2 {
  color: #f4f4f5;
}


.featuresContainer::before {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, #3b82f6, #a855f7);
  margin: 0 auto 2rem;
}


.fadeInSectionReverse {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0;
  opacity: 0;
transform: translateY(50px);
}

.fadeInSectionReverse img {
  width: 45%; 
  height: auto;
  filter: brightness(70%);
  display: inline-block;
}

.fadeInSectionReverse .fadeInText {
  width: 50%;
  color: white;
  text-align: left; 
}




@media screen and (max-width: 1200px) {
 

  .fadeInText {
      max-width: 80%;
  }
}

@media screen and (max-width: 992px) {
  

  .fadeInText {
      max-width: 90%;
      font-size: 1rem;
  }

  .fadeInImage {
      max-width: 100%;
  }

  .featuresTitle {
      font-size: 3rem;
  }
}

@media screen and (max-width: 768px) {
 

  .fadeInText {
      max-width: 100%;
      font-size: 0.9rem;
  }

  .fadeInSection {
      flex-direction: column;
      gap: 1rem;
      min-height: auto;
  }

  .fadeInImage {
      max-width: 90%;
  }
}

@media screen and (max-width: 576px) {


  .fadeInSection {
      flex-direction: column;
      gap: 1rem;
      min-height: auto;
  }

  .fadeInImage {
      max-width: 100%;
  }

  .featuresTitle {
      font-size: 2rem;
  }
}


.chane{
  background-color: #0f0f0f;
  color: white;
  font-size: 3rem;
  padding-bottom: 50px;
}

.chane::before {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, #3b82f6, #a855f7);
  margin: 0 auto 2rem;
}


.carouselsCo {
  background-color: #0f0f0f;
  width: 100%;
  height: 100%;
  padding-top: 12rem;
}

.container2 {
  position: relative;
  width: 320px;
  margin-left: 700px;
  perspective: 1000px;
  height: 400px; 
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
  color: white;
}

.carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

.carousel span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:hover {
  transform: scale(1.2) translateZ(450px); 
  z-index: 10;
  transition: transform 0.5s ease, z-index 0.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}


.carousel__face:nth-child(1) {

  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  background-image: url("/assests/lyricPageBack2.jpg");
  transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
  background-image: url("/assests/notelyric.jpg");
  transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
  background-image: url("/assests/notelyric.jpg");
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  background-image: url("/assests/notelyric.jpg");
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
  background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.additional-section {
  padding: 20px;
  background-color: #000000; 
  color: white;
  margin-top: 50px; 
}


@media screen and (max-width: 768px) {
  .container2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .carousel__face {
    width: 250px;
    height: 150px;
  }

  .carousel {
    animation-duration: 30s; 
  }
}

@media screen and (max-width: 576px) {
  .container2 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .carousel__face {
    width: 200px; 
    height: 120px;
  }

  .carousel {
    animation-duration: 20s; 
  }
}