

.hero {
  position: relative;
  background: url("/assests/herologo.jpg") center / cover no-repeat;
  height: 100vh;
  margin-top: 60px;
  padding: 20px;
}

.hero::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.25) 0%, rgba(0, 0, 0, 0.65) 40%);
  z-index: 0;
}

.content {
  position: absolute; 
  top: 35%;
  left: 10%;
  transform: translateY(-50%); 
  display: grid;
  grid-template-rows: auto auto auto;
  gap: 20px;
  z-index: 1;
  color: var(--mantine-color-white);
  text-align: left;
}

.title {
  font-size: 50px;
  font-weight: 900;
  line-height: 1.1;
}

.description {
  font-size: 17px;
  max-width: 600px;
  margin-top: 20px;
}

.control {
  background-color: #7D2A9D;
  color: rgb(255, 255, 255);
  border: none;
  padding: 7px 7px;
  font-size: 14px;
  border-radius: 25px;
  cursor: pointer;
  width: 17%; 
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.control:hover{
  background-color: #2e0b3b; 
  transform: scale(1.05); 
}

.highlightLyrics,
.highlightGenre {
  color: #7D2A9D;
}


.intro1{
  margin: 0;
  color: white;
  margin-top: 20px;
}

.heroWrap {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
}

.highlightYou {                    
  color: #7D2A9D;
  
}  

.highlightMagic{
  color: #9f26cf;
}  

/* second section */

.featuresContainer {
  background-color: #0f0f0f;
  color: white;
  padding: 2rem;
  text-align: center;
  
}

.featuresContainer::before {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, #3b82f6, #a855f7);
  margin: 0 auto 2rem;
}


.featuresTitle {
  font-size: 2.1rem;
  margin-bottom: 2rem;
  color: #f7f2f2;
  opacity: 0; 
  transform: translateY(-50px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.featuresRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  text-align: left;
  gap: 1rem; 
  flex-wrap: nowrap; 
  margin-bottom: 100px;
}

.featureItem {
  display: flex;
  flex-direction: column;
  align-items: start;
  max-width: 90%; 
  text-align: center;
}

.featureImage {
  width: 100%;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.featureImage:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 20px rgba(128, 0, 128, 0.4);
  cursor: pointer;
}

.featureHeading {
  font-size: 1.5rem;
  color: #f4f4f5;
  margin-bottom: 1rem;
  text-align: left;
  width: 100%;
}

.featureDescription {
  font-size: 1rem;
  color: #d1d1d1;
  margin-bottom: 1.5rem;
  text-align: left;
}

.highlight {
  color: rgba(124, 39, 143, 1);
}

.featureButton {
  background-color: rgba(124, 39, 143, 1);
  color: white;
  width: auto;
  
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.featureButton:hover {
  background-color: rgb(46, 7, 49);
}

.fadeInSection, .fadeInSectionReverse, .fadeInSection2 {
  transform: translateY(-50px); 
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.fadeInSectionReverse {
  transform: translateX(-20px); 
}

.fadeInSection2 {
  transform: scale(0.8); 
}

@media screen and (max-width: 992px) {
  .featuresRow {
    flex-wrap: wrap;
    gap: 1.5rem;
  }

  .featureItem {
    max-width: 100%; 
  }
}


/* next section */

.chane{
  background-color: #0f0f0f;
  color: white;
  font-size: 2.1rem;
  padding-bottom: 50px;
}

.chane::before {
  content: '';
  display: block;
  width: 50%;
  height: 2px;
  background: linear-gradient(to right, #3b82f6, #a855f7);
  margin: 0 auto 2rem;
  
}


.carouselsCo {
  background-color: #0f0f0f;
  width: 100%;
  min-height: 50vh; 
  overflow: hidden;
  padding-top: 12rem;
}

.container2 {
  position: relative;
  width: 320px;
  margin-left: 700px;
  perspective: 1000px;
  height: 400px; 
}

.carousel {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  animation: rotate360 60s infinite forwards linear;
  will-change: transform;
  color: white;
}

.carousel__face {
  position: absolute;
  width: 300px;
  height: 187px;
  top: 20px;
  left: 10px;
  right: 10px;
  background-size: cover;
  box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.5);
  display: flex;
}

.carousel span {
  margin: auto;
  font-size: 2rem;
}


.carousel__face:hover {
  transform: scale(1.2) translateZ(450px); 
  z-index: 10;
  transition: transform 0.5s ease, z-index 0.5s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}


.carousel__face:nth-child(1) {

  transform: rotateY(0deg) translateZ(430px);
}
.carousel__face:nth-child(2) {
  background-image: url("/assests/lyricPageBack2.jpg");
  transform: rotateY(40deg) translateZ(430px);
}
.carousel__face:nth-child(3) {
  background-image: url("/assests/notelyric.jpg");
  transform: rotateY(80deg) translateZ(430px);
}
.carousel__face:nth-child(4) {
  background-image: url("/assests/notelyric.jpg");
  transform: rotateY(120deg) translateZ(430px);
}
.carousel__face:nth-child(5) {
  background-image: url("/assests/notelyric.jpg");
  transform: rotateY(160deg) translateZ(430px);
}
.carousel__face:nth-child(6) {
  background-image: url("https://images.pexels.com/photos/1834400/pexels-photo-1834400.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(200deg) translateZ(430px);
}
.carousel__face:nth-child(7) {
  background-image: url("https://images.pexels.com/photos/1415268/pexels-photo-1415268.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(240deg) translateZ(430px);
}
.carousel__face:nth-child(8) {
  background-image: url("https://images.pexels.com/photos/135018/pexels-photo-135018.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(280deg) translateZ(430px);
}
.carousel__face:nth-child(9) {
  background-image: url("https://images.pexels.com/photos/1175135/pexels-photo-1175135.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  transform: rotateY(320deg) translateZ(430px);
}

@keyframes rotate360 {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}

.additional-section {
  padding: 20px;
  background-color: #000000; 
  color: white;
  margin-top: 50px; 
}


@media screen and (max-width: 768px) {
  .container2 {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .carousel__face {
    width: 250px;
    height: 150px;
  }

  .carousel {
    animation-duration: 30s; 
  }
}

@media screen and (max-width: 576px) {
  .container2 {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }

  .carousel__face {
    width: 200px; 
    height: 120px;
  }

  .carousel {
    animation-duration: 20s; 
  }
}