.body4 {
    position: relative;
    overflow: visible;
    display: block; 

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.671)),
    url("/public/assests/lyricPageBack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #7D2A9D;
  }
  


  .Title2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%; 
    gap: 20px; 
    color: #fff;
    margin-top: 40px;
}

.leftDiv,

.rightDiv {
    padding: 20px;
    border-radius: 8px;
    width: 30%; 
    box-sizing: border-box;
    overflow: hidden;
}

.centerDiv{
    margin-top: 10px;
}

.centerDiv h1{
    margin-right: 100px ;
    margin-bottom: 25px;
    background-color: #7D2A9D;
    padding: 4px 5px;
    width: 80%;
    border-radius: 15px;
}

.centerDiv button{
   margin-left: 15px;
   background-color: rgba(60, 63, 63, 0.993);
}



.leftDiv h1,
.centerDiv h1,
.rightDiv h1 {
    text-align: center;
}



.leftDiv h1{
    background-color: #7D2A9D;
    padding: 6px 9px;
    width: 40%;
    border-radius: 15px;
    margin-left: 100px;
    
}

.leftDiv button{
    background-color: #7D2A9D;
    padding: 4px 7px;
    border-radius: 15px;
    width: 25%;
    margin-top: 15px;
    margin-right: 90px;
}

.leftDiv input{
    padding: 6px 9px;
    width: 70%;
    border-radius: 12px;
    margin-left: 30px;
    background-color: #3a393a09;
    color: white;
}

.rightDiv h1{
    background-color: #7D2A9D;
    padding: 6px 9px;
    width: 40%;
    border-radius: 15px;
    margin-left: 150px;
    margin-bottom: 10px;
}


.flexContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: auto;
    margin-top: 100px;
    
  
  }
  
 