.body4 {
    position: relative;
    overflow: visible;
    display: block; 

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.671)),
    url("/public/assests/lyricPageBack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #7D2A9D;
  }
  


  .Title2 {
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 80px;
  }

  .flexContainer {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 100%; 
    gap: 20px; 
    color: #fff;
    margin-top: 40px;
}

.leftDiv,

.rightDiv {
    padding: 20px;
    border-radius: 8px;
    width: 30%; 
    box-sizing: border-box;
    overflow: hidden;
}
