.body4 {
    position: relative;
    overflow: visible;
    display: block; 

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.671)),
    url("/public/assests/lyricPageBack.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #7D2A9D;
  }
  


  .Title2 {
    font-size: 40px;
    height: auto;
    width: auto;
    margin-top: 80px; 
    padding: 10px 0;  
    color: #fff; 
  }

  .Title2>h1>span{
    color: #cc6ef1;
  }


  .gridContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
    gap: 100px;
    width: 90%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    color: white;
    font-weight: bold;
  }
  

  .gridItem {
    text-align: center;

    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(160, 123, 175, 0.1);
    background-color:#51136e9c;
  }




  

  .dropdown {
    width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  }
  

  .fileUpload {
    width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  }

  

.flexContainer2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    height: auto;
    margin-top: 100px;
    
  
  }
  
  .card {
    display: grid;
    place-items: center;
    width: 30%; 
    height: 500px; 
    background: linear-gradient(to bottom right, #2d082e8e, #4b2768c5, #391f46a9); 
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    color: white;
    font-weight: bold;
    text-align: center;
  }
  
  .divider {
    margin: 20px 0; 
    color: #ffffff; 
    font-size: 20px;
    font-weight: bold;
  }
  
  .lg\:divider-horizontal {
    margin: 0 20px; 
  }
  