.navPage {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    background-color: #0a0909;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;

}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 0 20px
}
.navLogo {
    display: flex;
    align-items: center;
    gap: 10px; 
    margin: 0; 
}

.navLogo > img {
    width: 60px; 
    height: 50px; 
    object-fit: contain; 
    margin: 0;
    
}

.navText {
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    color: #7D2A9D;
    margin: 0; 
    flex-grow: 1;
}

.ulContainer {
    display: flex;
    justify-content: space-evenly;
    width: 100%; 
}


.navToggle {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #7D2A9D;
    width: 10%;
}

.navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 60px;
    margin: 0;
    padding: 0;
}

.navMenu li {
    color: #7D2A9D;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.navMenu li:hover {
    color: #f0e7f3;
}

.authButton {
    background-color: #7D2A9D;
    color: white;
    padding: 6px 15px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    width: 200px;
    transition: background-color 0.3s ease;
}

.authButton:hover {
    background-color: #bbacc0;
}

@media (max-width: 768px) {
    .navContainer {
        flex-wrap: nowrap; 
        justify-content: space-between; 
    }

    .navLogo {
        height: 40px; 
    }

    .navText {
        font-size: 16px; 
        text-align: center;
        flex-grow: 1;
    }

    .navToggle {
        display: block;
       
        font-size: 24px; 
        cursor: pointer;
        margin-left: auto; 
        
        
    }

    .navMenu {
        display: none; 
        flex-direction: column; 
        
        gap: 10px;
        width: 80%; 
        background-color: white;
        position: absolute;
        top: 60px;
        right: 0; 
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        
    }

    .navMenu.menuOpen {
        display: flex; 
        background-color: rgb(15, 15, 15); 
        border-radius: 20px;
        margin-right: 10px;
        width: 10%;
    }

    .navMenu li {
        padding: 10px 0; 
        text-align: left; 
    }

    .authButton {
        width: 100%;
        text-align: center;
        padding: 10px;
        margin-top: 10px;
        font-size: 13px;
        text-align: center; 
        flex-grow: 1; 
    }
}


@media (max-width: 470px) {
    .navContainer {
        flex-direction: row; 
        align-items: center; 
    }

    .navText {
        font-size: 14px; 
    }

